#container {
    background-color: rgba(225, 225, 225, 0.1);
}

.discText {
    color: aliceblue;
}

.card {
    backdrop-filter: blur(1px) saturate(19%);
    -webkit-backdrop-filter: blur(1px) saturate(19%);
    background-color: rgba(17, 25, 40, 0.07);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}