body {
    background-image: linear-gradient(to left bottom, #707070, #6d6d6d, #6a6a6a, #676767, #646464, #616161, #5f5f5f, #5c5c5c, #595959, #565656, #535353, #505050);
    background: linear-gradient(rgba(0, 0.2, 0.4, 0.6), rgba(0, 0.2, 0.4, 0.6)), url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: block;
}

#navLogo {
    position: relative;
    max-height: 70px;
    max-width: 70px;
    padding: 3px;
    bottom: auto;
}

#contactUsBody {
    height: 100%;
}

#contactImage {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1603791440384-56cd371ee9a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1017&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#uImage {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1595541590080-bd3b5946a280?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1128&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pg13Image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1594909122845-11baa439b7bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pg12AImage {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1585951237313-1979e4df7385?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pg12Image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pg15Image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1521967906867-14ec9d64bee8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pg18Image {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1608170825938-a8ea0305d46c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#featuredCaro {
    color: black;
    max-width: 1000px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Headtxt, #Subtxt {
    color: white;
}

.CaroImg {
    border-radius: 5px;
}

#homeHero {
    background-image: linear-gradient(to top, #000000, #1a141a, #242331, #223649, #0f4b5b, #005c67, #006d70, #117e75, #0f9085, #0ba396, #06b6a6, #00c9b7);
}

#navbar {
    background-image: linear-gradient(to left bottom, #707070, #6d6d6d, #6a6a6a, #676767, #646464, #616161, #5f5f5f, #5c5c5c, #595959, #565656, #535353, #505050);
}

#listingsBody {
    background-image: linear-gradient(to left bottom, #707070, #6d6d6d, #6a6a6a, #676767, #646464, #616161, #5f5f5f, #5c5c5c, #595959, #565656, #535353, #505050);
}

#ListingSearch {
    float: right;
    -webkit-box-shadow: 5px 5px 28px 5px #000000;
    box-shadow: 5px 5px 28px 5px #000000;
}

#listingTimeBTN {
    background-color: #00c9b7;
    color: black;
}

#listingTimeBTN:hover {
    color: white;
    background-color: grey;
}


.main-footer{
    
    background-color: rgb(42, 45, 214);

.main-footer {
    background-color: rgb(64, 67, 235);

    color: white;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 140px;
}

#footer-container {


    font-size: x-small;

}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.column2 {
    text-align: right;
}

.bookingHead {
    position: relative;
    text-align: center;
    display: block;
}

.label, .bookingHead {
    color: white;
}

.booking {
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #707070, #6d6d6d, #6a6a6a, #676767, #646464, #616161, #5f5f5f, #5c5c5c, #595959, #565656, #535353, #505050);
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

#listingsBody {
    border-radius: 20px;
}

#ListingSearch {
    padding: 2px;
}

.film-poster {
    height: 45vh;
}